## Sets

A set is an unordered collection of unique elements in Python. They are unordered. Sets are useful for membership testing, removing duplicates, and performing mathematical set operations like union, intersection, and difference. You can create a set using curly braces `{}` or the `set()` constructor.

In [4]:
## Create a set

my_set = {1, 2, 3, 4, 5}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [5]:
my_empty_set = set()
type(my_empty_set)

set

In [ ]:
my_set = set([1, 1, 2, 2, 4, 3, 4, 5])
print(my_set)       # It won't print any duplicate values

{1, 2, 3, 4, 5}

#### Basic Sets Operations

In [6]:
## Adding and Removing elements
my_set.add(7)
print(my_set)

my_set.add(7)
print(my_set)

my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}

In [ ]:
## Removing elements without error
my_set.remove(3) # This gives an error

KeyError: 3

In [ ]:
my_set.discard(3) # This doesn't give any error even if the element doesn't exist
my_set

{1, 2, 4, 5, 7}

In [9]:
## Pop method
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [11]:
## Clear all the elements
my_set.clear()
print(my_set)

set()

In [12]:
## Set Membership Test
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)
print(10 in my_set)

True
False

In [16]:
## Mathematical Operation

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

## Union
union_set = set1.union(set2)
print(union_set)

## Intersection
intersact_set = set1.intersection(set2)
print(intersact_set)

set1.intersection_update(set2)  # This will update set1 with the intersection set
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}

In [18]:
## Different
set1 = {1, 2, 3, 4, 5}

print(set1.difference(set2))

# Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3}

{1, 2, 3, 6, 7, 8}

In [22]:
# Set Methods

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

# is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

Counting Unique words in text

In [27]:
text = "There are five different horses, which of them are very beautiful."
words = text.split()

## Convert list of words into a set to get the unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'are', 'beautiful.', 'horses,', 'different', 'of', 'them', 'five', 'There', 'which', 'very'}
10